input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
 {
  background: transparent;
  background-color: transparent;
  border: none;
  -webkit-text-fill-color: var(--color-light);
  -webkit-box-shadow: 0 0 0px 1000px var(--color-light) inset;
  transition: background-color 5000s ease-in-out 0s;
}