.app {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  // overflow: hidden;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }
  .errorMessage {
    width: 100%;
    display: flex;
    justify-content: center;
    padding:.7rem;
    padding-top: 1rem;
    h2{
      color: var(--color-light);
      font-size: 1.1em;
      @media only screen and (min-width: 768px) {
        font-size: 1.5em;
      }
    }

    svg{
      color:var(--color-light);
      font-size:1.8rem;
      margin-right:.3rem
    }
  }

  .avatar{
    color:var(--color-light);
    display:flex;
    align-self:flex-end;
    padding-top: 1rem;
    padding-right: 1rem;
    svg{
      margin: 0 5px;
      border-radius: 50%;
      color: var(--color-blue);
      padding-top: .1rem;
      border: 2px solid var(--color-blue);
      font-size: 1.4rem;
      @media only screen and (min-width: 768px) {
        font-size: 1.7rem;
      }
    }
    p{
      font-weight: 100;
      padding-top: 0;
      margin-bottom: 0;
      @media only screen and (min-width: 768px) {
        padding-top: .15rem;
        font-weight: bold;
      }
    }
  }

  .notfound{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    h1{
      font-weight: bold;
      letter-spacing: 3px;
      margin-bottom:1.5rem;
      color: var(--text-primary);
    }
    h2{
      font-weight: bold;
      margin-bottom:2rem;
      color: var(--color-light);
    }
    &-btn{
      @include form__btn();
      align-self: center;
     padding: .6rem 3.5rem;
      border-color: var(--text-primary);
      color: var(--text-primary);
      margin: .5rem 0;
      transition: all .2s ease-in-out;
      &:hover{
        color: var(--color-dark);
        background: var(--text-primary)
      }
    }
  }
  .bullish {
    color: rgb(20, 202, 20);
  }
  .bearish {
    color: rgb(221, 0, 0);
  }
}
