.cryptoDetails-container {
  width: 100%;
  padding: 1rem;

  .cryptoDetails-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lighten($bg-secondary, 20%);

    h2 {
      color: darken($text-tertiary, 5%);
      font-weight: bold;
      margin-bottom: 0.75rem;
    }
    p {
      color: darken($color-light, 15%);
    }
  }

  .cryptoDetails-info {
    display: flex;
    flex-direction: column;
    select {
      background: lighten($bg-secondary, 20%);
      border: 1px solid lighten($bg-secondary, 20%) !important;
      color: darken($color-light, 0%);
      appearance: none;
      border: 1px solid lighten($color-dark, 60%);
      border-radius: 0.2rem;
      align-self: flex-start;
      margin: 1rem 1rem;
      padding: 0.3rem 8rem 0.3rem 0.4rem;
      &:focus {
        outline: none;
      }
      @media (min-width: 992px) {
        margin: 1rem 2rem;
      }
    }
    h3 {
      color: darken($color-light, 15%);
      font-weight: bold;
    }
    p {
      color: darken($color-light, 22%);
    }
    i {
      color: darken($color-light, 20%);
    }
    b {
      color: darken($color-light, 10%);
    }

    .cryptoDetails-stats {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 992px) {
        flex-direction: unset;
        align-items: unset;
        @include flex-around;
      }
      .coin-stats {
        margin-bottom: 2rem;
        max-width: 18rem;
        @media (min-width: 992px) {
          max-width: 18rem;
        }
      }

      .other-stats {
        margin-bottom: 2rem;
        max-width: 18rem;
        @media (min-width: 992px) {
          max-width: 18rem;
        }
      }
    }

    .single-stat {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      padding: 0.7rem 0.2rem;
      border-bottom: 1px solid darken($bgPrimary, 75%);

      &-info {
        display: flex;

        p {
          margin-bottom: 0;
          margin-left: 4px;
        }
      }
    }

    .extra-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: 992px) {
        flex-direction: unset;
        align-items: unset;
        @include flex-around;
      }
      margin: 4rem 0;
      .coin-desc {
        margin-bottom: 2rem;
        max-width: 20rem;
      }
      .coin-links {
        min-width: 18rem;
        max-width: 18rem;

        .single-link {
          display: flex;
          justify-content: space-between;
          margin-bottom: 0.5rem;
          padding: 0.7rem 0.2rem;
          border-bottom: 1px solid lighten($bg-secondary, 75%);
          border-bottom: 1px solid darken($bgPrimary, 75%);
        }
        b {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
