.coins-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .search-coins {
    display: flex;
    align-items: center;
    margin: 2rem auto 3rem auto !important;

    input {
      border: none;
      outline: none;
      font: inherit;
      width: 20em;
      height: 3em;
      padding: 0 4em 0 1em;
      margin-left: 1rem !important;
      font-weight: 600;
      letter-spacing: 0.5px;
      color: $color-light !important;
      background: $bg-secondary;
      border-radius: 0.25em;

      &:focus {
        outline: none;
      }
      &::placeholder {
        color: darken($color: $color-light, $amount: 35);
      }
    }
  }
  .coins {
    @include container;
  }
}
