.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 320px;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;

  .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    width: 280px;
    height: 390px;
    background: linear-gradient(164.33deg, lightness(var(--bg-secondary), 4.1) 6.56%, lightness(var(--bg-secondary), 1.8) 93.33%);
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
      box-shadow: inset 0px -7px 0px lightness(var(--color-light-yellow),.55);
    transition: all 0.1s ease-in-out, transform 0.2s ease-in-out;

    @media (min-width: 1200px) {
      width: 300px;
    }

    &-icon-container {
      position: relative;
      width: 120px;
      height: 100px;
      background: lightness(var(--bg-secondary), 1.8);
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      box-shadow: 0 10px 0 lightness(var(--bg-secondary), 2.3),
        inset 0 -2px 0 lightness(var(--color-light-yellow),.55),
        0 5px 0 lightness(var(--bg-secondary), 3);
      z-index: 1000;
      display: flex;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -50px;
        width: 50px;
        height: 50px;
        background: transparent;
        border-top-right-radius: 50px;
        box-shadow: 15px -15px 0 15px lightness(var(--bg-secondary), 1.8);
        transition: box-shadow 0.3s ease-in-out;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -50px;
        width: 50px;
        height: 50px;
        background: transparent;
        border-top-left-radius: 50px;
        box-shadow: -15px -15px 0 15px lightness(var(--bg-secondary), 1.8);
        transition: box-shadow 0.3s ease-in-out;
      }
      .card-icon {
        position: relative;
        width: 70px;
        height: 70px;
        margin-top: 10px;
        z-index: 10000;
        border-radius: 1rem;
      }
    }

    &-content {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;

      position: absolute;
      width: 100%;
      padding: 2rem;
      padding-top: 120px;
      &-head {
        width: 115%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
          margin-bottom: 0;
          align-self: center;
          width: 80%;
        }
        .card-star-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.2rem;
          width: 3rem;
          height: 3rem;
          color: var(--color-light-yellow);
        }

        h2 {
          cursor: pointer;
          font-weight: bold;
          color: var(--color-light);
        }
      }
      &-detail {
        cursor: pointer;
        margin-top: 1rem;
        width: 105%;
        padding-bottom: 10rem;
      }

      p {
        color: lightness(var(--color-light), .65);
        font-size: 15px;
      }
      b {
        letter-spacing: 1px;
        color: lightness(var(--color-light), .8);
      }
    }
  }
}
