.news-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 320px;
  margin-bottom: 2rem;

  .news-card {
    width: 280px;
    height: 400px;
    background: linear-gradient(164.33deg, lightness(var(--bg-secondary), 4.1) 6.56%, lightness(var(--bg-secondary), 1.8) 93.33%);
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0px -2px 0 lightness(var(--color-light-yellow), 0.45),
    inset 0 -7px 0 lightness(var(--color-light-yellow), 0.65);
    transition: all 0.1s ease-in-out,transform 0.2s ease-in-out;

    @media (min-width: 1200px) {
      width: 300px;
    }

    .news-card-img-container {
      position: relative;
      width: 100%;
      height: 152px;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;

      .news-card-img {
        position: relative;
        width: 100%;
        height: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        padding-bottom: 2px;
        object-fit: contain;
        background: var(--bg-secondary);
        transition: all 0.3s ease-in-out;
      }
    }
    .news-card-content {
      padding: 0.8rem;
      color: lightness(var(--color-light), .9);

      .news-card-detail {
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;
        padding: 0 5px;

        .news-provider {
          display: flex;

          img {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-right: 3px;
            margin-top: 2px;
          }
        }

        p {
          color: lightness(var(--color-light), .65);
          font-size: 13px;
        }
      }
    }
  }
}
