
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$text-primary:#d8c690;//light
// $text-primary-dark
$text-secondary:#aaa;//light
// $text-secondary-dark
$text-tertiary:#be9e4e;//light
// $text-tertiary-dark
$color-light: #cfcfcf;
$color-dark: #1f1f1f;

$bgPrimary:#fff;
$bg-secondary: $color-dark;//light
// $bg-secondary-dark

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}

.app{
    display: flex;
    overflow: hidden;
}

h4{

}




