.main{
    flex: 0.8;
    width: 100%;
}

.heading{
    font-weight: 600;
    color: $color-dark;
}

.stats-container{
    width: 100%;
    .stat{
        margin: .5rem;
        display: inline-block;
        width: 40%;
        p{
            font-size: 11px;
            color: lighten($color:$color-dark, $amount: 40);
            font-weight: 600;
            letter-spacing: .2px;

            // color: red;
        }
        b{
            margin-left: .2rem;
        }
    }
}

