.chart-header {
  display: flex;
  justify-content: space-between;

  .chart-title {
    color: lightness(var(--text-tertiary), .9);
  }

  .price-container {
    display: flex;

    .price-change {
      margin-right: 0.7rem;
      color: lightness(var(--color-light), .8) !important;

      b {
        color: lightness(var(--color-light), .95) !important;
      }
    }
    .current-price {
      color: lightness(var(--color-light), .8) !important;
      b {
        color: lightness(var(--color-light), .95) !important;
      }
    }
  }
}
