
   :root {
        --bg-main-color: #1f2029;
        --toned-down-white: #f1f1f1;
        --highlight-main: #8167a9;
}
  /* sets the size the switch's body, this is the label element, and our container */
  .switch {
      align-self: flex-end;
      margin: 1.9rem .9rem;
      position: relative;
      display: inline-block;
      width: 40px;
      height: 10px;
      margin-left: 2rem;
    }
    
    /* hides the checkbox's default ticking box, we don't need to show it, we only need it's "checked" functionality to keep track of when user clicks*/
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    /* this is a span nested inside label container, that takes the width and position of its container */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        background-color: var(--highlight-main);
        transition: 0.4s;
    }
    
    /* this is the toggle circle that moves, setting its inital position and size */
    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: -10px;
        bottom: -5px;
        background-color: var(--toned-down-white);
        transition: 0.3s;
        color: var(--highlight-main);
        font-size: 10px;
  }
  
  /* color change on slider circle when input container is clicked.because label element is container, clicking anywhere in it triggers input:checked */
  input:checked + .slider {
    background-color: var(--toned-down-white);
  }
  
  /* when label cointainer is clicked change toggle circle color, and move it to the right */
  input:checked + .slider:before {
    background-color: var(--highlight-main);
    content: "";
    transform: translateX(35px);
  }
  
  /* make the label container rounded*/
  .slider.round {
    border-radius: 34px;
  }
  
  /* make the roggle circle round */
  .slider.round:before {
    border-radius: 50%;
  }
  
