.cryptoDetails-container {
  width: 100%;
  padding: 1rem;

  .cryptoDetails-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightness(var(--color-light),.3);

    h2 {
      color: var(--color-light-yellow);
      font-weight: bold;
      margin-bottom: 0.75rem;
    }
    p {
      color: lightness(var(--color-light), .8);
    }
  }

  .cryptoDetails-info {
    display: flex;
    flex-direction: column;
    select {
      background:lightness( var(--bg-secondary),3.5);
      border: 1px solid lightness(var(--bg-secondary), 2.6) !important;
      color: var(--color-light);
      appearance: none;
      border-radius: 0.2rem;
      align-self: flex-start;
      margin: 1rem 1rem;
      padding: 0.3rem 8rem 0.3rem 0.4rem;
      &:focus {
        outline: none;
      }
      @media (min-width: 992px) {
        margin: 1rem 2rem;
      }
    }
    h3 {
      color: lightness(var(--color-light), .8);
      font-weight: bold;
    }
    p {
      color: lightness(var(--color-light), .75);
    }
    i {
      color: lightness(var(--color-light), .7);
    }
    b {
      color: lightness(var(--color-light), .9);
    }

    .cryptoDetails-stats {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 992px) {
        flex-direction: unset;
        align-items: unset;
        @include flex-around;
      }
      .coin-stats {
        margin-bottom: 2rem;
        max-width: 18rem;
        @media (min-width: 992px) {
          max-width: 18rem;
        }
      }

      .other-stats {
        margin-bottom: 2rem;
        max-width: 18rem;
        @media (min-width: 992px) {
          max-width: 18rem;
        }
      }
    }

    .single-stat {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      padding: 0.7rem 0.2rem;
      border-bottom: 1px solid lightness(var(--color-light),.2);

      &-info {
        display: flex;

        p {
          margin-bottom: 0;
          margin-left: 4px;
        }
      }
    }

    .extra-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: 992px) {
        flex-direction: unset;
        align-items: unset;
        @include flex-around;
      }
      margin: 4rem 0;
      .coin-desc {
        margin-bottom: 2rem;
        max-width: 20rem;
      }
      .coin-links {
        min-width: 18rem;
        max-width: 18rem;

        .single-link {
          display: flex;
          justify-content: space-between;
          margin-bottom: 0.5rem;
          padding: 0.7rem 0.2rem;
          border-bottom: 1px solid lightness(var(--color-light),.2);
        }
        b {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
