.watchlist-table {
    border-collapse: collapse;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
       
  
    thead th {
      position: sticky;
      top: 0;
      background: var(--bg-secondary);
      padding: 1.3rem;
      color: var(--color-light);
      font-weight: bold;
      text-align: left;
      transition: all .3s ease-in-out;
    }
    tbody {
      transition: all .3s ease-in-out;
      tr {
        background: lightness(var(--bg-secondary),2);
        transition: background .3s ease-in-out;
        transition: all 0.1s ease-in-out;
  
        &:nth-of-type(even) {
          background: lightness(var(--bg-secondary),1.82);
         
        }
  
        &:hover {
          background: lightness(var(--bg-secondary),2.3);
        }
      }
  
      td {
        color: lightness(var(--color-light),.75);
        padding: 1.1rem;
        text-align: left;
      }
      td.nameCell{
        display: flex;
        img{
          width: 20px;
          margin: 0 5px;
        }
      }
    }
  }

  .no-crypto-btn{
    @include form__btn();
    margin-top: 2rem;
  }