.glance {
    
  .heading {
    margin-top: .5rem;
    font-weight: 600;
    color: var(--color-light);
    font-size: 17px;

    @media only screen and (min-width: 576px) {
      font-size: initial;
    }
  }

  .stats-container {
    width: 100%;
    .stat {
      margin: 0.5rem;
      display: inline-block;
      width: 40%;

      p {
        font-size: 11px;
        color: lightness(var(--color-light), .6);
        font-weight: 600;
        letter-spacing: 0.2px;
      }
      b {
        color: lightness(var(--color-light), .8);
        margin-left: 0.2rem;
      }
    }
  }

  .heading-container {
    display: flex;
    padding: 0.4rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    align-items: center;

    .show-more {
      font-weight: bold;
    }
  }
}
