// $form__light__color: whitesmoke;
// $form__dark__color: #1d1d1d;
// $form__gray__color: rgb(68, 68, 68);
// $form__primary__color: #00f2c3;
// $form__secondary__color: #0098f0;

// $form__success__color:#008a00 ;
// $form__danger__color : #a64452;

// $form__btn__color: #00f2c3;

// $form__short__transition: all 0.15s ease-in-out;


// $form__font__size1: 0.9rem;
// $form__font__size2: 1.1rem;
// $form__font__size3: 1.3rem;
// $form__font__size4: 1.6rem;

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }



@mixin form__btn__primary {
  @include form__btn();
  // background-color:var(--text-tertiary);
border: 2px solid var(--text-primary);
transition: all .15s ease-in-out;
  &:hover {
    font-size: 0.85rem;
    color: var(--color-dark);
    background-color: var(--text-primary);
  }
}

@mixin form__btn__secondary {
  @include form__btn();
  background-color: transparent;
  border: 2px var(--color-light) solid;

  &:hover {
    color: var(--color-dark);
    background-color: var(--color-light);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
 {
  background: transparent;
  background-color: transparent;
  border: none;
  -webkit-text-fill-color: var(--color-light);
  -webkit-box-shadow: 0 0 0px 1000px var(--color-light) inset;
  transition: background-color 5000s ease-in-out 0s;
}