@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "../../../node_modules/codyhouse-framework/main/assets/css/base/mixins";

:root {
  @include defineColorHSL(--text-secondary, 0, 0%, 67%);
  @include defineColorHSL(--text-tertiary, 43, 46%, 53%);
  @include defineColorHSL(--color-light, 0, 0%, 81%);
}
.dark {
  @include defineColorHSL(--color-dark, 240, 9%, 2%);
  @include defineColorHSL(--bg-secondary, 240, 9%, 2%);
  @include defineColorHSL(--color-light-yellow, 42, 100%, 70%);
}
.navy-blue {
  @include defineColorHSL(--color-dark, 234, 56%, 5.5%);
  @include defineColorHSL(--bg-secondary, 234, 56%, 5.5%);
  @include defineColorHSL(--color-light-yellow, 48, 100%, 70%);
}

$navbar-height: 60px;
$sideNav-minWidth: 240px;

@mixin container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}
@mixin flex-around {
  display: flex;
  justify-content: space-around;
}

@mixin form__btn {
  text-align: center;
  color: var(--color-light);
  border-radius: 0.3rem;
  font-size: 0.8rem;
  font-weight: 600;
  width: 8rem;
  padding: 0.5rem 0;
  cursor: pointer;
  border: 1px solid;
  border-color: lightness(var(--color-light-yellow), 0.8);
  background: transparent;
  transition: all 0.2s ease-in-out;

  @media only screen and (min-width: 768px) {
    width: 10rem;
    padding: 0.6rem 0;
  }

  &:hover {
    color: var(--color-dark);
    border-color: var(--color-light-yellow);
    background: var(--color-light-yellow);
  } 

  @media screen and(min-width:768px) {
    font-size: 0.85rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}

.display-block{display: block;}
.display-none{display: none;}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px transparent !important;
}
