@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import '../../../node_modules/codyhouse-framework/main/assets/css/base/mixins';

:root {
  @include defineColorHSL(--text-primary,45, 48%, 71%);
  @include defineColorHSL(--text-secondary, 0, 0%, 67%);
  @include defineColorHSL(--text-tertiary, 43, 46%, 53%);
  @include defineColorHSL(--color-light, 0, 0%, 81%);
  @include defineColorHSL(--color-blue, 203, 99%, 61%);
  @include defineColorHSL(--bgPrimary, 0, 0%, 100%);
  
}
.dark{
  @include defineColorHSL(--color-dark, 0, 0%, 12%);
@include defineColorHSL(--bg-secondary, 0, 0%, 12%);
  @include defineColorHSL(--color-light-yellow,42, 100%, 70%);
  @include defineColorHSL(--color-dark-yellow, 42, 98%, 53%);
}
.navy-blue{
    @include defineColorHSL(--color-dark, 234, 40%, 10%);
  @include defineColorHSL(--bg-secondary, 234, 40%, 10%);
    @include defineColorHSL(--color-light-yellow, 43, 100%, 65%);
    @include defineColorHSL(--color-dark-yellow, 329, 56%, 92%);

}



$navbar-height: 60px;
$sideNav-minWidth: 240px;

@mixin container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}
@mixin flex-around {
  display: flex;
  justify-content: space-around;
}

@mixin form__btn {
  text-align: center;
  color:var(--color-light);
  border-radius: 0.3rem;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.6rem 3rem;
  cursor: pointer;
  border: 2px solid ;
  background: transparent;

  @media screen and(min-width:768px) {
    font-size: .85rem;
    // padding: 0.8rem 3rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px transparent !important;
}
