.footer {
    min-height: 130px;
    background-color: lightness(var(--bg-secondary),1);
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
    transition: background-color .3s ease-in-out;

    @media only screen and (min-width: 768px) {
      margin-right: $sideNav-minWidth;
    }
    &-links{
        display: flex;
        width:100%;
        justify-content: center;
        
          a{
            margin: 0 .5rem;

            @media only screen and (min-width: 576px) {
            margin: 0 1rem;
              }
          }
    }

    h5{
        color: var(--text-secondary);
        text-align: center;
    }
    a{
        color: lightness(var(--color-light-yellow),1.2);
        transition: color .3s ease-in-out;
        &:hover{
            color: var(--text-tertiary) !important;
        }
    }
}